*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.box-chat{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    background: black;
}
.chat-contents{
    background-color: rgb(0, 0, 0);
    display:grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    align-items: center;
}

/* chat info*/

.chat-contents-info{
    width: 100%;
    height: 100%;
    /* background: rgba(255, 0, 0, 0.786); */
    border-bottom:2px solid rgba(119, 119, 119, 0.271);
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-contents-info-photo{
    margin:0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: end;
    border-radius: 100%;
    /* border: 2px solid rgb(55, 255, 0); */
    background-image: url(../images/chat-images/chat-1.jfif);
    background-size: cover;
    background-position: center;
}
.chat-contents-info-photo-online{
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
.chat-contents-info-name p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.info-status{
    margin-left: 10px;
    opacity: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
}
/* chat centent content*/

.chat-contents-send{
    width: 100%;
    height: 100%;
    /* background:  aqua; */
    grid-column: 1/2 ;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "up"
                        "down";
}

.chat-contents-send-up{
    width:100%;
    height: 100%;
    /* background: #cce816; */
    display:flex;
    grid-area: up;
    justify-content: center;
    align-items: center;
}

.chat-contents-send-up-profile{
    /* border: 1px solid #807f7f; */
    display: flex;
    flex-direction: column;
    gap:10px;
}
.chat-contents-send-up-profile-photo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(55, 255, 0);
    background-image: url(../images/chat-images/chat-1.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    margin-left: 10px;
}
.chat-contents-send-up-profile-photo-online{
    width:15px;
    height:15px;
    background: #fff;
    border-radius: 100%;
}
.chat-contents-send-up-profile-follwer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chat-contents-send-up-profile-follwer p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.chat-contents-send-down{
    width: 100%;
    height: 100%;
    grid-area: down;
    /* background:bisque; */
    display:flex;
    justify-content: center;
    align-items: end;
}
.chat-contents-send-down-text{
    width: 90%;
    height: 45px;
    background: rgba(55, 55, 55, 0.26);
    margin: 10px;
    border-radius: 30px ;
    display:grid;
    grid-template-columns: 55px auto 30px 30px 30px ;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;

}
.chat-contents-send-down-text-sendicon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cce816;
    border-radius: 20px ;
    width: 100%;
    height: 100%;
}
.chat-contents-send-down-text-sendicon ion-icon{
    width: 15px;
    height: 15px;
    color: white;
    rotate: 320deg; 
    padding-left:15px ;
}
.chat-contents-send-down-text input{
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    
}
.chat-contents-send-down-text input::placeholder{
    color: white;
    opacity: 80%;
    border: none;
}
.chat-contents-send-down-text input:focus{
    outline: none;
}
.chat-contents-send-down-text ion-icon{
    color:white;
    width: 30px;
    height: 30px;
    padding-right:10px;
}


/* acoounts section*/
.chat-accounts{
    background: #000000;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
}
/* info */
.chat-accounts-info{
    background: #000000;
    border-right: 2px solid #807f7f44 ;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.chat-accounts-info-logo {
    font-weight: 800;
    font-size: 22px;
    color: white;
    margin:12px 10px;
}
.Connect{
    padding-left:20px;
}
.chat-accounts-info-logo span{
    color: #cce816;
}
.chat-accounts-info-section{
    color: white;
    grid-row: 2/3;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.chat-accounts-info-section p{
    font-size: 15px;
    font-weight: 100;
    opacity: 80%;
}
/* friends*/

.chat-accounts-friends{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    border-top:  2px solid #9a9a9a38;
    border-right:  2px solid #9a9a9a38;
    gap: 10px;
}
.chat-accounts-friends-search{
    height: 40px;
    width: 80%;
    background: #ffffff33;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    border: none;
}
.chat-accounts-friends-search input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 19px;
}
.chat-accounts-friends-search input:focus{
    outline: none;
}
.chat-accounts-friends-search ion-icon{
    color:white;
    width: 50%;
    height: 60%;
}
.chat-accounts-friends-section{
    width: 100%;
    height: 100%;
    /* background: #cce816; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.chat-accounts-friends-section-photo{
    margin:0 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: end;
    border-radius: 100%;
    background-image: url(../images/chat-images/chat-1.jfif);
    background-size: cover;
    background-position: center;
    border: 2px solid #cce816;

}
.chat-accounts-friends-section-photo-online{
    width:18px;
    height:18px;
    background: #fff;
    border-radius: 100%;
}
.chat-accounts-friends-section-info{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}
.chat-accounts-friends-section-info a{
     text-decoration: none;
     color: white;
}

.chat-info-status-friends{
    margin-left: 20px;
    margin-top: 5px;
    opacity: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}
#max{
    background-image: url(../images/chat-images/2.jfif);
    background-size: cover;
}
#Yousssef{
    background-image: url(../images/chat-images/3chat.jfif);
    background-size: cover;
}#ahmed{
    background-image: url(../images/chat-images/4chat.jfif);
    background-size: cover;
}#adbrazak{
    background-image: url(../images/chat-images//5chat.jfif);
    background-size: cover;
}#zakaria{
    background-image: url(../images/chat-images/6chat.jfif);
    background-size: cover;
}#salah{
    background-image: url(../images/chat-images/8chat.jfif);
    background-size: cover;
}#max{
    background-image: url(../images/chat-images/2.jfif);
    background-size: cover;
    
}

/*media*/

@media (max-width: 720px) {
    .box-chat{
        display: grid;
        grid-template-columns: 1fr;
    }
    .chat-contents{
        display: none;
        height: 100%;    
    }
    .chat-accounts-friends{
        gap:20px;   
    }
}
    
