*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.box-chat2{
    background: black;
    display: block;
}

.chat-contents2{
    background-color: rgb(0, 0, 0);
    display:grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    align-items: center;
}

/* chat info*/

.chat-contents-info2{
    width: 100%;
    height: 100%;
    /* background: rgba(255, 0, 0, 0.786); */
    border-bottom:2px solid rgba(119, 119, 119, 0.271);
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-contents-info2 ion-icon{
    color:white;
    margin: 10px;
    font-weight: 700;
}
.chat-contents-info-photo2{
    margin:0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: end;
    border-radius: 100%;
    /* border: 2px solid rgb(55, 255, 0); */
    background-image: url(../images/chat-images/chat-1.jfif);
    background-size: cover;
    background-position: center;
}
.chat-contents-info-photo-online2{
    background: rgb(255, 255, 255);
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
.chat-contents-info-name2 p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.chat-info-status2{
    margin-left: 10px;
    opacity: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
}
/* chat centent content*/

.chat-contents-send2{
    width: 100%;
    height: 100vh;
    /* background:  aqua; */
    grid-column: 1/2 ;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "up"
                        "down";
}

.chat-contents-send-up2{
    width:100%;
    height: 100%;
    /* background: #cce816; */
    display:flex;
    grid-area: up;
    justify-content: center;
    align-items: center;
}

.chat-contents-send-up-profile2{
    /* border: 1px solid #807f7f; */
    display: flex;
    flex-direction: column;
    gap:10px;
}
.chat-contents-send-up-profile-photo2{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(55, 255, 0);
    background-image: url(../images/chat-images/chat-1.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    margin-left: 10px;
}
.chat-contents-send-up-profile-photo-online2{
    width:15px;
    height:15px;
    background: #fff;
    border-radius: 100%;
}
.chat-contents-send-up-profile-follwer2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chat-contents-send-up-profile-follwer2 p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.chat-contents-send-down2{
    width: 100%;
    height: 100%;
    grid-area: down;
    /* background:bisque; */
    display:flex;
    justify-content: center;
    align-items: end;
}
.chat-contents-send-down-text2{
    width: 90%;
    height: 45px;
    background: rgba(55, 55, 55, 0.26);
    margin: 10px;
    border-radius: 30px ;
    display:grid;
    grid-template-columns: 55px auto 30px 30px 30px ;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;

}
.chat-contents-send-down-text-sendicon2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cce816;
    border-radius: 20px ;
    width: 100%;
    height: 100%;
}
.chat-contents-send-down-text-sendicon2 ion-icon{
    width: 15px;
    height: 15px;
    color: white;
    rotate: 320deg; 
    padding-left:15px ;
}
.chat-contents-send-down-text2 input{
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    
}
.chat-contents-send-down-text2 input::placeholder{
    color: white;
    opacity: 80%;
    border: none;
}
.chat-contents-send-down-text2 input:focus{
    outline: none;
}
.chat-contents-send-down-text2 ion-icon{
    color:white;
    width: 30px;
    height: 30px;
    padding-right:10px;
}
